header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid black;
  }

.navContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-list {
    width: 150px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
    padding: 0;
}

.menu-link {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.dropdown {
    position: absolute;
    background-color: #fff;
    margin-top: 15px;
    padding: 0;
    list-style-type: none;
    display: none;
    /* flex-direction: column; */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    left: 0;
}

.dropdown-item {
    padding: 10px;
}

.menu-item:hover .dropdown {
    display: flex;
}

.logo {
    margin: 0 auto;
}

.iconContainer {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}